<!DOCTYPE HTML>
<html>
<head>
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="../../css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="../../css/icon-font.min.css" type='text/css'/>
    <!-- //lined-icons -->
    <script src="../../js/templates/jquery-1.10.2.min.js"></script>
    <!--clock init-->
    <script src="../../js/templates/css3clock.js"></script>
    <!--Easy Pie Chart-->
    <!--skycons-icons-->
    <script src="../../js/templates/skycons.js"></script>
    <!--//skycons-icons-->
</head>
<body>

<!--/set-3-->
<!--<div class="set-3">-->
<div class="col-md-8 col-md-offset-2">
    <div class="graph-2 general">
        <!--        <h3 class="inner-tittle two">General Form </h3>-->
        <div class="grid-1">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Email Address</label>
                    <div class="col-md-8">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="text" class="form-control1 icon"
                                   placeholder="Email Address">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Password</label>
                    <div class="col-md-8">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control1 icon"
                                   id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Email Address</label>
                    <div class="col-md-8">
                        <div class="input-group input-icon right">
																												<span class="input-group-addon">
																													<i class="fa fa-envelope-o"></i>
																												</span>
                            <input id="email" class="form-control1 icon" type="text"
                                   placeholder="Email Address">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">With tooltip</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Password</label>
                    <div class="col-md-8">
                        <div class="input-group input-icon right">
																												<span class="input-group-addon">
																													<i class="fa fa-key"></i>
																												</span>
                            <input type="password" class="form-control1 icon"
                                   placeholder="Password">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">With tooltip</p>
                    </div>
                </div>
                <div class="form-group has-success">
                    <label class="col-md-2 control-label">Input Addon Success</label>
                    <div class="col-md-8">
                        <div class="input-group input-icon right">
																												<span class="input-group-addon">
																													<i class="fa fa-envelope-o"></i>
																												</span>
                            <input id="email" class="form-control1 icon" type="text"
                                   placeholder="Email Address">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">Email is valid!</p>
                    </div>
                </div>
                <div class="form-group has-error">
                    <label class="col-md-2 control-label">Input Addon Error</label>
                    <div class="col-md-8">
                        <div class="input-group input-icon right">
																												<span class="input-group-addon">
																													<i class="fa fa-key"></i>
																												</span>
                            <input type="password" class="form-control1 icon"
                                   placeholder="Password">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">Error!</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Checkbox Addon</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-addon"><input type="checkbox"></div>
                            <input type="text" class="form-control1 icon">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Checkbox Addon</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control1 icon">
                            <div class="input-group-addon"><input type="checkbox"></div>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">Checkbox on right</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Radio Addon</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-addon"><input type="radio"></div>
                            <input type="text" class="form-control1 icon">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Radio Addon</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control1 icon">
                            <div class="input-group-addon"><input type="radio"></div>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">Radio on right</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Input Processing</label>
                    <div class="col-md-8">
                        <div class="input-icon right spinner">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                            <input id="email" class="form-control1 icon" type="text"
                                   placeholder="Processing...">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">Processing right</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Static Paragraph</label>
                    <div class="col-md-8">
                        <p class="form-control1 m-n">email@example.com</p>
                    </div>
                </div>
                <div class="form-group mb-n">
                    <label class="col-md-2 control-label">Read Only</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control1 icon" placeholder="Readonly"
                               readonly="">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--</div>-->
<!--//set-3-->

<script>
    var toggle = true;

    $(".sidebar-icon").click(function () {
        if (toggle) {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position": "absolute"});
        } else {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function () {
                $("#menu span").css({"position": "relative"});
            }, 400);
        }

        toggle = !toggle;
    });
</script>
<!--js -->
<script src="../../js/jquery.nicescroll.js"></script>
<script src="../../js/scripts.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>